{% extends base_template %}
{% load static i18n %}

{% block page %}signup-page{% endblock %}
{% block ads %}btn-primary{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="header header-filter" style="background-image: url('{% static 'img/ub.jpg' %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <div class="card card-signup">
            <form action="" class="form" method="post">{% csrf_token %}
              <div class="header header-primary text-center">
                <h4>{% trans 'Change password' %}</h4>
              </div>

              <div class="content">
                {% for field in form %}
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </span>
                  <div class="form-group label-floating {% if field.errors %}has-error{% endif %}">
                    {% if field.errors %}
                    <label class="control-label">{{ field.errors.as_text }}</label>
                    {% else %}
                    <label class="control-label">{{ field.label }}</label>
                    {% endif %}
                    {{ field }}
                    <span class="material-icons form-control-feedback">clear</span>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-simple btn-primary btn-lg">{% trans 'Change my password' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include 'app/ui/footer.html' %}
  </div>
</div>
{% endblock %}